		<meta charset="utf-8">
		<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
		<meta name="description" content="<%= page.description || site.description %>"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="robots" content="noindex, nofollow, nosnippet, noarchive" />
        <meta name="googlebot" content="noodp" />
        <meta name="slurp" content="noydir" />
        <meta name="keywords" content="null" />
        <meta name="HandheldFriendly" content="false"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="author" content="Elnaz Gharaee"/>
		<meta name="theme-color" content="#32384f">
		<!--  styles -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="<%= site.basePath %>/assets/css/styles.css">
		<!-- favicon -->
        <link rel="icon" type="image/png" href="<%= site.basePath %>/assets/favicon-36x36.png" />
		<!-- scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="<%= site.basePath %>/assets/js/functions.js"></script>
